@model IEnumerable<WebApplication1.Domain.Entity.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

@foreach (var user in Model)
{
    <p>@user.Id</p>
    <p>@user.Name</p>
    <p>@user.Role</p>
    <p>@user.Password</p>
}